In [1]:
import pandas as pd
import sys
import os

current_dir = os.path.abspath('')
parent_dir = os.path.join(current_dir, '..', 'functions')
sys.path.append(parent_dir)

IMPORT DATA

In [2]:
path = "../../dataset/origin/authors.csv"
df = pd.read_csv(path)
df

        author_id        author_name
0            9561                NaN
1          451324      # House Press
2          454250      # Petal Press
3          249724    #GARCIA MIGUELE
4          287710  #Worldlcass Media
...           ...                ...
654016     237785                丘宏義
654017      77701           國立彰化師範大學
654018     410709                張成秋
654019     618322                 灰雁
654020     373580                 菊子

[654021 rows x 2 columns]

DROP DUPLICATES

In [3]:
#import number_of_duplicates
from duplicates_utils import number_of_duplicates

number_of_duplicates(df)

0

CLEAN DATA

In [4]:
type(df['author_name'])

pandas.core.series.Series

In [5]:
from clean_data_utils import strip_data

clean = strip_data(df['author_name'])
df['author_name'] = clean
df

        author_id       author_name
0            9561               NaN
1          451324       House Press
2          454250       Petal Press
3          249724    GARCIA MIGUELE
4          287710  Worldlcass Media
...           ...               ...
654016     237785               丘宏義
654017      77701          國立彰化師範大學
654018     410709               張成秋
654019     618322                灰雁
654020     373580                菊子

[654021 rows x 2 columns]

DUPLICATES AFTER DATA CLEANING

In [6]:
from duplicates_utils import number_of_duplicates
number_of_duplicates(df['author_name'])

234

EXPORT DAT

In [7]:
file_name = "authors_cleaned.csv"
folder_path = "../../dataset/cleaned"
final_path = os.path.join(folder_path, file_name)
df.to_csv(final_path, index=False)