In [ ]:
import pandas as pd
import sys
import os

current_dir = os.path.abspath('')
parent_dir = os.path.join(current_dir, '..', 'functions')
sys.path.append(parent_dir)

from duplicates_utils import number_of_duplicates

IMPORT DATA

In [3]:
path = "../../dataset/origin/categories.csv"
df = pd.read_csv(path)
df

      category_id                                category_name
0            1998                             .Net Programming
1             176  20th Century & Contemporary Classical Music
2            3291  20th Century & Contemporary Classical Music
3            2659      20th Century History: C 1900  To C 2000
4            2661          21st Century History: From C 2000 -
...           ...                                          ...
2770         1634                       Zoology: Invertebrates
2771         1644                             Zoology: Mammals
2772         1639                         Zoology: Vertebrates
2773         3007                        Zoos & Wildlife Parks
2774         3215                               Zoroastrianism

[2775 rows x 2 columns]

NUMBER OF DUPLICATES

In [7]:
print(number_of_duplicates(df))
print(number_of_duplicates(df['category_name']))

0
190

EXPORT DAT

In [6]:
file_name = "categories_cleaned.csv"
folder_path = "../../dataset/cleaned"
final_path = os.path.join(folder_path, file_name)
df.to_csv(final_path, index=False)